# This file was generated automatically from conda-smithy. To update this configuration,
# update the conda-forge.yml and/or the recipe/meta.yaml.

language: generic

os: osx
osx_image: xcode6.4

env:
  matrix:
    - CONFIG=osx_c_compilerclangcxx_compilerclangxx
    - CONFIG=osx_c_compilertoolchain_ccxx_compilertoolchain_cxx

  global:
    # The BINSTAR_TOKEN secure variable. This is defined canonically in conda-forge.yml.
    - secure: "heMZr808cD2K+5el5n7tOCGH+2v3kfAUhP/0PSilyDsqWNmhXs3WsVYlAG2/EnahxB1Hj9ij0Y0kkAPFU/F5xsEOuyLx8oo0O9FcQ3gPoQRC0b/1+a8V1TKNM3Aem2xpuSUL9B+8YKRlIGIMua9nTPKzwer8IvAT0jDD089nF9v2T0bNZcD9zLNACf0BiJvZ9eA3Hy19yfC9QHzcjENxsUpoPB45VuuG+yj0oNiZJoiyFVaVi2i1y7TiWuethAOI/4rQyeAddVTXW7iVo3IvE1GjA7ElkWJ006TqCls9HxUqSmsWyjEBJkza56JIEno32aVrbbRARw1dJyfjXXmaXIR3dhVLz+LOXDz35QnDfDrRWE0Cz9htufooFVB0nL1Khw6odvJlAPXBihul+NZMIUIRE1HQpuKaCIOMTw1cxVwoTmM732RTPUyFj8JYOz5u71cnESrd9PvT4W+9un2Jy2pSYVxa1A7TLSz6LEC2zYsLh9VwO8VIYHUQKwL2UHBon9pWx55bQ31sMRsuXIIUjVnO1fHZsmpncXNlVh3qmgr5FkFvlKqFWhKf2wos8EGWj1ZUe4EwXDjErpkbVD1S43xdvzxnEG5z8EvsEQJ8aNWqPTZRR5G5PuQS9njdyNS2BKPY76kSJIZlZXA+7HgwKwcblUGCPifhD0idU0ZdMWU="


before_install:
    # Fast finish the PR.
    - |
      (curl https://raw.githubusercontent.com/conda-forge/conda-forge-ci-setup-feedstock/branch2.0/recipe/conda_forge_ci_setup/ff_ci_pr_build.py | \
          python - -v --ci "travis" "${TRAVIS_REPO_SLUG}" "${TRAVIS_BUILD_NUMBER}" "${TRAVIS_PULL_REQUEST}") || exit 1

    # Remove homebrew.
    - |
      echo ""
      echo "Removing homebrew from Travis CI to avoid conflicts."
      curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/uninstall > ~/uninstall_homebrew
      chmod +x ~/uninstall_homebrew
      ~/uninstall_homebrew -fq
      rm ~/uninstall_homebrew


install:
    # Install Miniconda.
    - |
      echo ""
      echo "Installing a fresh version of Miniconda."
      MINICONDA_URL="https://repo.continuum.io/miniconda"
      MINICONDA_FILE="Miniconda3-latest-MacOSX-x86_64.sh"
      curl -L -O "${MINICONDA_URL}/${MINICONDA_FILE}"
      bash $MINICONDA_FILE -b

    # Configure conda.
    - |
      echo ""
      echo "Configuring conda."
      source /Users/travis/miniconda3/bin/activate root

      conda install --yes --quiet conda-forge::conda-forge-ci-setup=2
      setup_conda_rc ./ ./recipe ./.ci_support/${CONFIG}.yaml

      source run_conda_forge_build_setup

    # compiler cleanup
    - |
      mangle_compiler ./ ./recipe ./.ci_support/${CONFIG}.yaml

script:
  # generate the build number clobber
  - make_build_number ./ ./recipe ./.ci_support/${CONFIG}.yaml
  - conda build ./recipe -m ./.ci_support/${CONFIG}.yaml --clobber-file ./.ci_support/clobber_${CONFIG}.yaml
  - upload_package ./ ./recipe ./.ci_support/${CONFIG}.yaml
